.wrap-topper-top {
  display: none;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: lightyellow;
  z-index: 9999;
  overflow: hidden;
}

.topper-hide-btn {
  display: none;
  position: fixed;
  top: 100px;
  left: 85%;
  width: 60px;
  height: 30px;
  text-align: center;
  color: white;
  z-index: 9999;
  i {
    transform: translateY(-10%);
  }
}


.banner-content {
  padding-top: 5px;
  padding-bottom: 5px;
  p {
    margin: 0 !important;
    overflow-y: hidden;
    text-align: center;
    span {
      display: inline-block;
      //width: 100px;
    }
  }
  a.btn {
    overflow: hidden;
    text-decoration: none;
    &:hover {
      color: white !important;
    }
  }
}

  /*
   * Helpers
   */
.topper_table {
  display: table;
  width: 100%;
}

.topper_table_row {
  display: table-row;
  width: 100%;
}

.topper_table_cell {
  display: table-cell;
  vertical-align: middle;
  &:nth-child(1) {
    width: 60%;
  }
  &:nth-child(2) {
    width: 40%;
    text-align: left;

  }
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	max-width: 1070px;
}

.wrap:after {
	clear: both;
	content: "";
	display: block;
}

  @media only screen and (min-width: 1200px) {
    .hide-lg {
      display: none !important;
    }
  }

  @media only screen and (min-width: 992px) and (max-width: 1200px) {
    .hide-md {
      display: none !important;
    }
  }

  @media only screen and (min-width: 768px) and (max-width: 992px) {
    .hide-sm {
      display: none !important;
    }
  }

  @media only screen and (max-width: 768px) {
    .hide-xs {
      display: none !important;
    }

  }
