.display-widgets {
  max-height: 300px;
  max-width: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
  label {
    display: block;
    margin-top: 0.3em;
    margin-bottom: 0.3em;
  }
}

.uk-modal-dialog.uk-modal-body {
  width: 800px;
}

.wysiwyg-plugin-list {
  padding: 5px 10px;
  a {
    display: block;
    color: #333333;
    &:hover {
      color: #000000;
    }
  }
}